/* Page style */
body {
  width: max-content;
  font-family: 'Pontano Sans';
}

header {
  font-size: 200%;
}

div {
  margin: 0 auto;
  width: fit-content;
}

label {
  display: inline-block;  
}

/* Select style */
select {
  display: inline-block;
  width: 70%;
  height: 35px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  appearance: none;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

select:hover {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}

select:focus {
  outline: none;
}

.wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
}

.bar {
  fill: #c0392b;
}

/* Image style */
img {
  resize: both;
}

#flag {
  border: 2px solid black;
}
